@import url('https://webfontworld.github.io/earlyfont/EF_Diary.css');
@import url('https://webfontworld.github.io/cookierun/CookieRun.css');
@import url('https://webfontworld.github.io/nongshim/Ansungtangmyun.css');
@import url('https://webfontworld.github.io/earlyfont/EF_Hyunygothic.css');
@import url('https://webfontworld.github.io/PyeongChang/PyeongChang.css');
@import url('https://webfontworld.github.io/jeongseon/JSDongkang.css');
@import url('https://webfontworld.github.io/earlyfont/EF_Macho.css');
@import url('https://webfontworld.github.io/116watermelon/116watermelon.css');
@import url('https://webfontworld.github.io/Rebecca/Rebecca.css');
@import url('https://webfontworld.github.io/NexonMaplestory/NexonMaplestory.css');

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
.font01 {
    font-family: EF_Diary;
    font-weight: 300;
}
.font02 {
    font-family: CookieRun;
    font-weight: 300;
}
.font03 {
    font-family: Ansungtangmyun;
    font-weight: 300;
}
.font04 {
    font-family: EF_Hyunygothic;
    font-weight: 300;
}
.font05 {
    font-family: PyeongChang;
    font-weight: 300;
}
.font06 {
    font-family: JSDongkang;
    font-weight: 300;
}
.font07 {
    font-family: EF_Macho;
    font-weight: 300;
}
.font08 {
    font-family: 116watermelon;
    font-weight: 300;
}
.font09 {
    font-family: Rebecca;
    font-weight: 300;
}
.font10 {
    font-family: NexonMaplestory;
    font-weight: 300;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}
body.img01 {
    background-image: url(../img/sliderEffect01-min.jpg);
}
body.img02 {
    background-image: url(../img/sliderEffect02-min.jpg);
}
body.img03 {
    background-image: url(../img/sliderEffect03-min.jpg);
}
body.img04 {
    background-image: url(../img/sliderEffect04-min.jpg);
}
body.img05 {
    background-image: url(../img/sliderEffect05-min.jpg);
}
body.img06 {
    background-image: url(../img/sliderEffect06-min.jpg);
}
body.img07 {
    background-image: url(../img/sliderEffect07-min.jpg);
}
body.img08 {
    background-image: url(../img/sliderEffect08-min.jpg);
}
body.img09 {
    background-image: url(../img/sliderEffect09-min.jpg);
}
body.img10 {
    background-image: url(../img/sliderEffect10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 36, 70,0.3);
    z-index: -1;
}
body.bg01::after {
    background-color: rgba(15, 13, 13, 0.5);
}
body.bg02::after {
    background-color: rgba(0, 0, 0, 0.5);
}
body.bg03::after {
    background-color: rgba(0, 0, 0, 0.95);
}
body.bg04::after {
    background-color: rgba(71, 255, 243, 0.3);
}
body.bg06::after {
    background-color: rgba(247, 78, 78, 0.3);
}
body.bg07::after {
    background-color: rgba(249, 48, 48, 0.3);
}
body.bg08::after {
    background-color: rgba(255, 255, 63, 0.3);
}
body.bg09::after {
    background-color: rgba(56, 251, 251, 0.3);
}
body.bg10::after {
    background-color: rgba(109, 255, 64, 0.3);
}
