<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ddd</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            background-color: #6e5757;
        }
        #wrap {
            width: 1200px;
            height: 1080px;
            margin: 0 auto;
        }
        #header {
            width: 1200px;
            height: 100px;
            background-color: #235364;
        }
        #nav {
            
        }
        #aside {}
        #contents {}
        #footer {}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header"></div>
        <div id="nav"></div>
        <div id="aside"></div>
        <div id="contents"></div>
        <div id="footer"></div>
    </div>
</body>
</html>