//movie section
.movie__wrap {
    overflow: hidden;
}
.movie__inner {
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    .movie__text {
        h3 {
            font-size: 50px;
            margin-bottom: 40px;
        }
        p {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 60px;
        }
        a {
            @include border(50px)
        }
    }
    
    .movie__item {
        @include flex-between;
        position: absolute;
        margin-top: 70px;
        
        > div {
            margin-right: 10px;
            width: 400px;
            @include border(20px)
        }
        > div img {
            width: 100%;
        }
    }
}

// movie__page
.movie__page {}
.movie__slider {
    display: none;
}
.movie__search {
    margin-bottom: 50px;
    text-align: center;
    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        @include border(50px);
        min-width: 300px;
        margin-right: 10px;
    }
    button {
        @include button (#1d11fd, #ffffff);
        @include border(50px)
    }
}
.movie__tag {
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 100px;

        li {
            a {
                border: 1px solid #1100ff;
                padding: 10px 20px;
                margin: 0 10px;
                color: #2453fe;
            }
        }
    }
}
.movie__cont {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    
        li {
            width: 19%;
            margin-bottom: 4%;

            span {
                display: block;
                margin: 4px 0;
            }
        }
    }
}