/* header */
#header {
    position: fixed;
    left: 0;
    top: 0  ;
    background-color: #262626;
    color: #fff;
    padding: 10px;
    margin-bottom: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
#header::before {
    content: '';
    border: 4px ridge #a3a3a3;
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
#header h1 {
    font-size: 28px;
    padding: 5px 5px 5px 10px;
    font-family: 'NeoDunggeunmo';
    z-index: 10;
    position: relative;
}
#header h1 a {
    color: #fff;
}
#header h1 em {
    font-size: 0.5em;
}
#header ul {
    padding: 5px;
}
#header li {
    display: inline;
    z-index: 10;
    position: relative;
}
#header li a {
    color: #fff;
    font-family:'NeoDunggeunmo';
    border: 1px dashed #fff;
    display: inline-block;
    padding: 5px;
}
#header li.active a,
#header li a:hover {
    background-color: #fff;
    color: #000;
}

/* footer */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    text-align: center;
}
#footer a {
    color: #fff;
    padding: 20px;
    display: block;
    font-family: 'NeoDunggeunmo';
    z-index: 10;
    position: relative;
}
#footer::before {
    content: '';
    border: 4px ridge #a3a3a3;
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
#main {
    padding: 100px 0;
}

/* quiz__wrap */
.quiz__main h4 {
    background-color: #3cb0db;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.quiz__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.quiz__wrap .quiz {
    width: 500px;
    background-color: #fff;
    border: 8px ridge #cacaca;
    margin: 10px;
}
.quiz__title {
    background-color: #4bb0e3;
    border: 3px ridge #cacaca;
    border-bottom-width: 6px;
    padding: 5px;
    font-family: 'NeoDunggeunmo';
    font-size: 16px;
    color: #3b3b3b;
    text-align: center;
}
.quiz__question {
    padding: 20px;
    font-size: 24px;
    font-family: 'MYArirangGothic';
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 6px ridge #cacaca;;
}
.quiz__question em {
    color: rgb(246, 5, 5);
}
.quiz__answer {
    font-family: 'MYArirangGothic';
    /* border-bottom: 6px ridge #cacaca; */
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
.quiz__answer .confirm {
    background-color: #5bc6e9;
    border: 6px ridge #cacaca;
    width: 100%;
    font-family: 'MYArirangGothic';
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 2px 2px 0px #afbbe6;
    font-weight: bold;
}
.quiz__answer .confirm:hover{
    background-color: #74b3eb;
}
.quiz__answer .next {
    background-color: #248951;
    border: 6px ridge #cacaca;
    width: 100%;
    font-family: 'MYArirangGothic';
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 2px 2px 0px #afbbe6;
    font-weight: bold;
}
.quiz__answer .next:hover{
    background-color: #306854;
}

.quiz__answer .result {
    background-color: #fff;
    border: 6px ridge #cacaca;
    width: 100%;
    font-family: 'MYArirangGothic';
    padding: 10px 20px;
    font-size: 22px;
}
.quiz__answer .input {
    background-color: #fff;
    border: 6px groove #cacaca;
    width: 100%;
    font-family: 'MYArirangGothic';
    padding: 10px 20px;
    font-size: 22px;
    margin-bottom: 10px;
}
.quiz__view {
    border-bottom: 6px ridge #cacaca;
    overflow: hidden;
}
.quiz__desc {
    border-top: 6px ridge #cacaca;
    padding: 20px;
    font-family: 'MYArirangGothic';
}
.quiz__desc::before {
    content: "💋Tip ";
    color: #F5534F;
    font-weight: bold;
}
.quiz__choice {
    padding: 20px;
    border-bottom: 6px ridge #cacaca;
}
.quiz__choice label {
    display: flex;
}
.quiz__choice label input{
    position: absolute;
    clip:  rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.quiz__choice label span{
    font-size: 20px;
    line-height: 1.4;
    padding: 6px;
    display: flex;
    cursor: pointer;
    margin: 2px 0;
}
.quiz__choice label span::before {
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #fff;
    box-shadow: inset 0 0 0 4px #4bb0e3;
    transition: all 0.2s;
    flex-shrink: 0;
}
.quiz__choice label input:checked + span {
    background-color: #f5ffe7;
}
.quiz__choice label input:checked + span::before {
    box-shadow: inset 0 0 0 8px #4bb0e3;
}
.quiz__check {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    background-color: #000;
    font-family: MYArirangGothic;
    color: #FEFEFE;
    cursor: pointer;
}
.quiz__info {
    position: fixed;
    right: 20px;
    bottom: 170px;
    background-color: #f50a0a;
    text-align: center;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-family: MYArirangGothic;
    color: #fff;
}
.quiz__info::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    border-top: 10px solid #f50a0a;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


/* cbt 유형 */
.quiz__wrap__cbt{
    padding: 0 20px;
    font-family: 'NeoDunggeunmo';
}
.cbt__conts {
    width: calc(100% - 300px);
    background-color: #fff;
}
.cbt__time {
    position: relative;
    padding-left: 40px !important;
    margin-bottom: 3px 0;
    float: right;
}
.cbt__time::before {
    content:'';
    position: absolute;
    left: 12px;
    top: 1px;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E%0A");
}
.cbt__submit {
    position: relative;
    padding-left: 40px !important;
    margin-bottom: 3px 0;
}
.cbt__submit::before {
    content:'';
    position: absolute;
    left: 13px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5' /%3E%3C/svg%3E ");
}
.cbt__header {
    width: calc(100% - 300px);
    background-color: #c9bcd6;
    border: 8px outset #40045d;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cbt__header > div > div {
    background-color: #4e295a;
    display: inline;
    margin-left: 5px;
    color: #fff;
    padding: 3px 20px;
    border-radius: 20px;
}
.cbt__aside {
    position: absolute;
    right: 0;
    top: 100px;
    width: 280px;
    height: 800px;
    background-color: #fff;
    border: 8px groove #8f47ae;
}
.cbt__quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cbt__quiz .cbt {
    width: 49%;
    border: 8px ridge #976ba6;
    margin-bottom: 10px;
    padding: 10px;
}
.cbt__quiz .cbt.good {
    position: relative;
}
.cbt__quiz .cbt.good::after {
    content: '';
    background-image: url(../img/O.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
}
.cbt__quiz .cbt.bad {
    position: relative;
}
.cbt__quiz .cbt.bad::after {
    content: '';
    background-image: url(../img/X.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
}
.cbt__info {
    background-color: #cbb1e5;
    border: 8px ridge #a97eb8;
    padding: 20px;
    text-align: center;
}
.cbt__info .title {
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 5px;
}
.cbt__info span {
    display: inline-block;
}
.cbt__omr {
    padding: 20px;
}
.cbt__omr .omr {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 50px 38px 38px 38px 38px;
    grid-template-rows: 20px;
    align-items: center;
}
.cbt__omr .omr input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.cbt__omr .omr strong {
    display: inline-block;
    text-align: center;
    margin-bottom: 1px;
    background-color: #ae92bd;
    color: #e5d276;
    font-family: 'Helvetica Neue';
    margin-right: 10px;
    font-weight: bold;
}
.cbt__omr .omr label {
    box-shadow: 0 0 0 1px #000000;
    cursor: pointer;
    line-height: 0.4;
    text-align: center;
    width: 28px;
    height: 8px;
    position: relative;
    font-family: 'Helvetica Neue';
}
.cbt__omr .omr label::after {
    background-color: #555;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: width 0.1s linear;
}
.cbt__omr .omr input[type=radio]:checked + label::after {
    width: 100%;
}
.cbt__omr .omr .label-inner {
    background-color: #fff;
    padding: 0.25em 0.13em;
    transform: translateY(-0.25em);
    width: 20px;
    color: #311143;
}
.cbt__question {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.cbt__question__img img{
    max-width: 400px;
    margin-bottom: 15px;
}
.cbt__question__desc {
    border: 2px solid #cacaca;
    padding: 10px;
    margin-bottom: 15px;
}
.cbt__selects {
    margin-bottom: 15px;
}
.cbt__selects label {
    display: flex;
}
.cbt__selects label span {
    font-size: 1rem;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    color: #444;
    position: relative;
}
.cbt__selects label span::before {
    content: '1';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #444;
    border-radius: 50%;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    line-height: 0.9;
    transition: all 0.25s;

}
.cbt__selects label:nth-of-type(1) span::before {
    content: '1';
}
.cbt__selects label:nth-of-type(2) span::before {
    content: '2';
}
.cbt__selects label:nth-of-type(3) span::before {
    content: '3';
}
.cbt__selects label:nth-of-type(4) span::before {
    content: '4';
}
.cbt__selects input {
    position: absolute;
    left: -9999px;
}
.cbt__selects input:checked + label span::before {
    color: rgb(246, 234, 70);
    box-shadow: inset 0 0 0 10px #000;
    border-color: #000;
}
.cbt__desc {
    background-color: #f4deff;
    padding: 10px 10px 10px 40px;
    margin-bottom: 5px;
    position: relative;
}
.cbt__desc::before {
    content: '';
    position: absolute;
    left: 14px;
    top: 7px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5' /%3E%3C/svg%3E%0A");
}
.cbt__keyword {
    background-color: #c4edf3;
    padding: 10px 20px 10px 40px;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    border-radius: 40px;
}
.cbt__keyword::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 8px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5' /%3E%3C/svg%3E%0A");;
}


/* dog__wrap */
.dog .tail,
.dog .chin,
.dog .tongue::before, 
.dog .tongue::after, 
.dog .mouth, 
.dog .nose, 
.dog .teardrop, 
.dog .eyes, 
.dog .face::before, 
.dog .face::after, 
.dog .ears::before, 
.dog .ears::after, 
.dog__wrap {
    transition: 0.2s ease-in;
}
.dog__wrap {
    position: relative;
}
.dog__wrap .true {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #157ea4;
    color: #fff;
    position: absolute;
    left: 70%;
    top: 100px;
    border-radius: 50%;
    font-family: 'MYArirangGothic';
    text-align: center;
    opacity: 0;
}
.dog__wrap .false {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #bd3232;
    color: #fff;
    position: absolute;
    right: 70%;
    top: 100px;
    border-radius: 50%;
    font-family: 'MYArirangGothic';
    text-align: center;
    opacity: 0;
}
.dog__wrap.like .true {
    opacity: 1;
    animation: wobble 0.6s;
}
.dog__wrap.dislike .false {
    opacity: 1;
    animation: wobble 0.6s;
}
@keyframes wobble {
    0% {transform: translateX(0) rotate(0deg);}
    15% {transform: translateX(-25%) rotate(-5deg);}
    30% {transform: translateX(20%) rotate(3deg);}
    45% {transform: translateX(-15%) rotate(-3deg);}
    60% {transform: translateX(10%) rotate(2deg);}
    75% {transform: translateX(-5%) rotate(-1deg);}
    100% {transform: translateX(0) rotate(0deg);}
}
.card-container {
    position: relative;
    width: 360px;
    height: 378px;
    margin: auto;
    padding-top: 125px;
    border-radius: 3%;

    z-index: 0;
}
.card-container::before, .card-container::after {
    content: "";
    position: absolute;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 3%;
    z-index: -1;
}
.card-container::before {
    top: 3%;
    width: 93%;
}
.card-container::after {
    top: 5.5%;
    width: 85%;
}
/* dog */
.dog .head,
.dog .body {
    position: relative;
    width: 115px;
}
.dog .head {
    height: 115px;
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
}
.dog .ears {
    position: relative;
    top: -14%;
    width: 100%;
}
.dog .ears::before, .dog .ears::after {
    content: "";
    position: absolute;
    top: 0;
    width: 35px;
    height: 70px;
    background: #CB7A1D;
    border-top: 11px solid #F7AA2B;
    border-left: 7px solid #F7AA2B;
    border-right: 7px solid #F7AA2B;
}
.dog .ears::before {
    left: 0;
    border-radius: 50% 45% 0 0;
}
.dog .ears::after {
    right: 0;
    border-radius: 45% 50% 0 0;
}
.dog .face {
    position: absolute;
    background: #F7AA2B;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}
.dog .face::before, .dog .face::after {
    content: "";
    display: block;
    margin: auto;
    background: #FEFEFE;
}
.dog .face::before {
    width: 15px;
    height: 35px;
    margin-top: 24px;
    border-radius: 20px 20px 0 0;
}
.dog .face::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 60px;
    height: 65px;
    border-radius: 45% 45% 0 0;
}
.dog .eyes {
    position: relative;
    top: 29%;
    text-align: center;
}
.dog .eyes::before, .dog .eyes::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #451d1c;
    margin: 0 14.5%;
}
.dog .teardrop {
    position: absolute;
    top: 125%;
    left: 19%;
    width: 6px;
    height: 6px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    background: #FEFEFE;
    visibility: hidden;
}
.dog .nose {
    position: relative;
    top: 35%;
    width: 16px;
    height: 8px;
    border-radius: 35px 35px 65px 65px;
    background: #451d1c;
    margin: auto;
}
.dog .mouth {
    position: relative;
    top: 34.5%;
    width: 4px;
    height: 6px;
    margin: 0 auto;
    text-align: center;
    background: #451d1c;
}
.dog .mouth::before, .dog .mouth::after {
    content: "";
    position: absolute;
    top: -4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid #451d1c;
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: 2;
}
.dog .mouth::before {
    transform: translateX(-89%) rotate(45deg);
}
.dog .mouth::after {
    transform: translateX(-2px) rotate(45deg);
}
.dog .tongue {
    position: relative;
    z-index: 1;
}
.dog .tongue::before, .dog .tongue::after {
    content: "";
    position: absolute;
}
.dog .tongue::before {
    top: 6px;
    left: -7px;
    width: 18px;
    height: 0;
    border-radius: 50%;
    background: #451d1c;
    z-index: -1;
}
.dog .tongue::after {
    top: 14px;
    left: -4px;
    width: 12px;
    height: 0;
    border-radius: 20px;
    background: #F5534F;
    z-index: 5;
}
.dog .chin {
    position: relative;
    top: 47.5%;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-top: 10px solid #e8e7ec;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 2px;
    z-index: 0;
}
.dog .body {
    position: relative;
    height: 139px;
    margin: auto;
    z-index: 0;
}
.dog .body::before, .dog .body::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    margin: auto;
    background: #F7AA2B;
}
.dog .body::after {
    top: -2px;
    bottom: -1px;
    width: 60px;
    background: #FEFEFE;
}
.dog .tail {
    position: absolute;
    left: -60%;
    bottom: 1px;
    background: #F7AA2B;
    width: 93px;
    height: 15px;
    transform: rotate(45deg);
    transform-origin: 100% 50%;
    border-radius: 25px 0 0 25px;
    z-index: -2;
}
.dog .legs {
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 15%;
    background: #F7AA2B;
    border-radius: 10px 10px 0 0;
}
.dog .legs::before, .dog .legs::after {
    content: "";
    position: absolute;
    bottom: 1px;
    background: #CB7A1D;
    z-index: -1;
}
.dog .legs::before {
    left: -7.5%;
    width: 115%;
    height: 55%;
    border-radius: 5px 5px 0 0;
}
.dog .legs::after {
    left: -3.5%;
    width: 107%;
    height: 250%;
    border-radius: 20px 20px 35px 35px;
}

@keyframes movetongue {
    100% {
        height: 27px;
    }
}
@keyframes movetail {
    0% {
        transform: rotate(37deg);
    }
    100% {
        transform: rotate(52deg);
    }
}
@keyframes cry {
    100% {
        visibility: visible;
    }
}


.like {
    background: #F0754A;
}
.like .face::before {
    margin-top: 10px;
}
.like .face::after {
    height: 85px;
}
.like .eyes {
    top: 13%;
}
.like .eyes::before,
.like .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 12.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}
.like .eyes::after {
    transform: rotate(37.5deg);
}
.like .nose {
    top: 18%;
}
.like .mouth {
    top: 16.5%;
}
.like .tongue::before {
    height: 12px;
}
.like .tongue::after {
    height: 24px;
    animation: movetongue 0.1s linear 0.35s infinite alternate forwards;
}
.like .chin {
    top: 34%;
}
.tail {
    animation: movetail 0.1s linear infinite alternate forwards;
}



.dislike {
    background: #747499;
}

.dislike .ears::before {
    transform: rotate(-50deg) translate(-7px, 2px);
}

.dislike .ears::after {
    transform: rotate(50deg) translate(7px, 2px);
}

.dislike .face::before {
    margin-top: 28px;
}

.dislike .face::after {
    height: 55px;
}

.dislike .eyes {
    top: 38%;
}

.dislike .eyes::before,
.dislike .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 14.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}

.dislike .eyes::after {
    transform: rotate(37.5deg);
}

.dislike .teardrop {
    animation: cry 0.1s ease-in 0.25s forwards;
}

.dislike .nose {
    top: 44%;
}

.dislike .mouth {
    top: 42%;
}

.dislike .chin {
    top: 52%;
}

.dislike .tail {
    transform: rotate(0);
}

/* 미디어 쿼리 */
@media (min-width: 1400px){
    .cbt__quiz .cbt {
        width: 32.3333%;
    }
}
@media (max-width: 960px){
    .cbt__quiz .cbt {
        width: 100%;
    }
}
@media (max-width: 800px){
    .cbt__aside {
        display: none;
    }
    .cbt__header {
        width: 100%;
        flex-direction: column;
    }
    .cbt__header h2 {
        margin-bottom: 10px;
    }
    .cbt__conts {
        width: 100%;
    }
}